<p (click)="navigateBack()" style="cursor: pointer;">Voltar</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-input">
    <label for="name">
      Nome da fazenda
    </label>
    <input type="text" formControlName="name">
  </div>
  <div class="form-input">
    <label for="owner_id">
      ID do dono
    </label>
    <input type="number" formControlName="owner_id">
  </div>
  <div class="form-input">
    <label for="geometry_type">
      Tipo de geometria
    </label>
    <input type="text" formControlName="geometry_type">
  </div>
  <div class="form-input">
    <label for="geometry_coordinates">
      Coordenadas da geometria
    </label>
    <input type="text" formControlName="geometry_coordinates">
  </div>
  <div class="form-input">
    <label for="centroid">
      Coordenadas do Centroíde X,Y
    </label>
    <input type="text" formControlName="centroid">
  </div>
  <div class="form-input">
    <label for="area">
      Área
    </label>
    <input type="number" formControlName="area">
  </div>
  <p (click)="submitForm()" style="cursor: pointer;">Enviar</p>
</form>